* {
  margin: 0;
  padding: 0;
  font-family: 'Martel Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(20, 20, 187);
  height: 6vw;
  background-image: linear-gradient(to bottom, blue, 0.5%, white);
}

.large {
  margin-left: 1vw;
  color: rgb(18, 48, 185);
  font-size: 4vw;
  font-weight: 900;
  letter-spacing: 2px;
  margin-right: 1vw;

  text-shadow: 2px 2px rgb(255, 255, 255);
}

.nazev {
  color: black;
  text-shadow: 2px 2px white;
}

#main {
  margin: 0 auto;
  height: 85vh;
  width: 95vw;
}

#controls {
  display: flex;
  flex-flow: row nowrap;
  /* justify-content: space-around; */
  /* align-content: space-between; */
  align-items: center;

  width: 95%;
  margin: 0 auto;
  height: 5vw;
}

.input {
  margin-top: 1vw;
  margin-left: 5vw;
  padding: 0 12px;
  /* display: inline-block; */
  font-size: 2vw;
  height: 3vw;
  width: 70%;
  /* border: 1, 5px solid #008cba; */
  /* border: 2px solid rgb(82, 81, 81);; */
  border-radius: 4px;
  /* box-shadow: 2px 2px  darkblue; */
  box-shadow: 
    /* inset 0 -3em 3em rgba(0,0,0,0.1), */ 0 0 0 2px
      rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.button {
  margin-top: 1vw;
  margin-left: 1vw;
  border-radius: 4px;
  background-color: rgb(18, 48, 185);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1.5vw;
  padding: 5px;
  width: 8vw;
  transition: all 0.5s;
  cursor: pointer;
  height: 2.3vw;
  font-weight: 600;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:active {
  transform: scale(1.2);
  background: #2c3e50;
}

#log {
  margin: 0 auto;
  background-color: white;
  height: 70vh;
  border: 1px solid black;
  width: 99%;
  height: 75vh;
  border-radius: 4px;
  border: 2px solid rgb(74, 74, 252);
  box-shadow: 
    /* inset 0 -3em 3em rgba(0,0,0,0.1), */ 0 0 0 2px
      rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  overflow: auto;
  white-space: pre-wrap;
}

.pocet {
  background-color: rgb(18, 48, 185);

  color: #fff;
  font-size: 1.3vw;
  font-weight: 600;
  margin-left: 1vw;
  padding-right: 2.5em;
  margin-top: 1.1vw;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
  border-radius: 4px;
  padding: 5px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
/* span barvy */
.cas {
  font-weight: 600;
  color: darkblue;
}
.red {
  font-weight: 600;
  color: darkred;
}
.green {
  font-weight: 900;
  color: darkgreen;
}
.ultrared {
  font-weight: 900;
  color: red;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.pocet option {
  font-weight: 300;
}

@media screen and (min-width: 1200px) {
  .button {
    font-size: 25px;
  }
  .input {
    font-size: 20px;
  }
}
